Debug
/.vs/ACM/v14/*.suo
/ACM.BL.Test/bin/Debug
/ACM.BL.Test/obj/Debug
/ACM.BL/bin/Debug
/ACM.BL/obj/Debug
/ACM.Library/bin/Debug
/ACM.Library/obj/Debug
/ACM.Library.Test/bin/Debug
/ACM.Library.Test/obj/Debug
/TestResults
/ACM.BL/bin/Debug/*.dll
/ACM.BL/bin/Debug/*.pdb
/ACM.BL/obj/Debug/*.cache
/ACM.BL/obj/Debug/*.dll
/ACM.BL/obj/Debug/*.pdb
/ACM.BL/obj/Debug/*.txt
/ACM.BL.Test/bin/Debug/*.dll
/ACM.BL.Test/bin/Debug/*.pdb
/ACM.Library/bin/Debug/*.pdb
/ACM.Library/bin/Debug/*.dll
/ACM.Library/obj/Debug/*.txt
/ACM.Library/obj/Debug/*.cache
/ACM.Library/obj/Debug/*.dll
/ACM.Library/obj/Debug/*.pdb
/ACM.Library.Test/bin/Debug/*.pdb
/ACM.Library.Test/bin/Debug/*.dll
/ACM.Library.Test/obj/Debug/*.cache
/ACM.Library.Test/obj/Debug/*.dll
/ACM.Library.Test/obj/Debug/*.pdb
/ACM.Library.Test/obj/Debug/*.txt
